@import url('https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap');
:root{
    --bgColor: #121212;
    --headingColor: white;
}
body{
    background-color: var(--bgColor);
    font-family: 'Open Sans', sans-serif;

}
.center{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
    color: var(--headingColor);
}

.center h1{
    padding-bottom: 0px;
    font-size: 75px;
    margin: 0;
}
.center h2{
    padding-top: 0px;
}
/* ------------- SEARCH ------------- */ 
img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 50%;
    box-shadow:  20px 20px 39px #0c0c0c,
             -20px -20px 39px #181818;
}

.search{
    padding: 0 2.5% 10% 2.5%;
    margin-top: 100px;
}
label{
    color: green;
    margin: 0;
    display: inline-block;
}
form{
    padding: 50px;
    border-radius: 50px;
    box-shadow:  20px 20px 39px #0c0c0c,
             -20px -20px 39px #181818;
    font-size: 7vh;
}
input{
    font-family: 'Open Sans', sans-serif;
    color: var(--headingColor);
    font-size: 7vh;
    border:none;
    background-color: transparent;
    outline: none;
    display:inline-flex;
    margin: 0;
    width: 93%;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--headingColor);
  opacity: 1; /* Firefox */
}
input:placeholder-shown{
    opacity: 33%;
    color: var(--headingColor);
}
input:placeholder-shown:hover{
    opacity: 50% !important;
}
a{
    text-decoration: none;
    color: inherit;
}
/* ------------- Links and Contaienr ------------- */
.link{
    padding: 10px 0 10PX 15px;
    color: #63AFD0;
    outline: none;
}
.link:hover{
    color: white;
}
.link:nth-child(4){
    color: black;
}
.box{
    padding-top: 20px;
    content: "";
    display: table;
    clear:both;
    width: 950px;
}
.box .box-container{
    /*padding: 10px;*/
    float:left;
    width: 200px;
    background: #0D619D;
    border-radius: 10px;
    text-align: left;

}
.box .box-container:not(:last-child) {
	margin-right: 50px;
}
.box .box-container .heading {
	margin: 25px 0 9px 15px;
	font-size: 33px;
}
.weather{
    padding: 10px;
}

/* ------------- TRANSITIONS AND SHADOWS ------------- */
.link, .link:visited, .link:hover, .box .box-container:hover, .box .box-container {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.box .box-container:hover {
	-webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.75);
}

.container form, .box .box-container {
	-webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
}
/* ------------- MEDIA QUERY ------------- */ 

@media only screen and (max-width: 985px) {
	.box-container:nth-child(4), .box-container:nth-child(3) {
		margin-top: 50px;
	}
	.box .box-container:nth-child(2), .box .box-container:nth-child(4) {
		margin-right: 0;
	}
	.box {
		width: 450px;
	}  
}

/* ------------- ANTI-DRAG ------------- */ 
*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.page{
    padding: 1% 10% 0 10%;
}
.top{
    border-bottom: solid 5px var(--headingColor);
    padding: 0 0 10px 0;
    
}
.top h2{
    font-size: 26px;
    color: var(--headingColor);
}
#greeting{
    display: inline-block;
    margin: 0;
}
#time, #date{
    display: block;
    float: right;
    margin: 0;
}